<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components</title>
    <link rel="stylesheet" href="../components/components.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header-menu">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <img class="logo" src="../res/LOGO.png">
            <a class="navbar-brand" href="../home/home.html">OnlyGamers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">

                    <a class="nav-item nav-link" href="../home/home.html">Home <span></span>

                        <a class="nav-item nav-link" href="../computers/computers.html">Computers <span
                                class="sr-only">(current)</span></a>

                    <a class="nav-item nav-link active" href="./components.html">Components</a>

                    <a class="nav-item nav-link" href="../accessoires/accessoires.html">Accessories</a>
                </div>
                <img class="cart" src="https://cdn0.iconfinder.com/data/icons/webshop-essentials/100/shopping-cart-512.png" alt="">
            </div>
        </nav>
    </header>
    <main>
        <div class="components">
            <hr>
            <h2>Cases:</h2>
            <hr>
            <div class="component">
                <img class="boitier" src="../res/Boitier 1.jpg" alt="">
                <img class="boitier" src="../res/boitier 2.jpg" alt="">
                <img class="boitier" src="../res/boitier 3.jpg" alt="">
                <img class="boitier" src="../res/boitier 4.jpg" alt="">
            </div>
            <div class="comp-desc">
                <p>EMPIRE GAMING blue color</p>
                <p>SPIRIT OF GAMER RGB</p>
                <p>CORSAIR Red and White</p>
                <p>Makashi MK50 Black with RGB</p>
            </div>
            <div class="add-btn">
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
            </div>
            <hr>
            <h2>Motherboards:</h2>
            <hr>
            <div class="component">
                <img class="motherboard" src="../res/MOTHERBOARD 1.jpg" alt="">
                <img class="motherboard" src="../res/MOTHERBOARD 2.jpg" alt="">
                <img class="motherboard" src="../res/MOTHERBOARD 3.jpg" alt="">
                <img class="motherboard" src="../res/MOTHERBOARD 4.jpg">
            </div>
            <div class="comp-desc">
                <p>MSI MPG Z390 Gaming Plus<br>LGA1151 (Intel 8th and 9th Gen)</p>
                <p>Asus Rog Strix Z390-F</p>
                <p>MSI X99A GODLIKE GAMING</p>
                <p>Gigabyte GA-AX370M-GAMING</p>
            </div>
            <div class="add-btn">
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
            </div>
            <hr>
            <H2>GPU:</H2>
            <hr>
            <div class="component">
                <img class="gpu" src="../res/GPU 1.jpg" alt="">
                <img class="gpu" src="../res/GPU 2.jpg" alt="">
                <img class="gpu" src="../res/GPU 3.jpg" alt="">
                <img class="gpu" src="../res/GPU 4.jpg" alt="">
            </div>
            <div class="comp-desc">
                <p>EVGA GeForce GTX 1070 Ti SC GAMING</p>
                <p>Carte graphique NVIDIA GeForce <br> 1080 TI 11Go</p>
                <p>MSI GeForce RTX 20708 Go GDDR6</p>
                <p>GEFORCE RTX 2080 STRIX 8GB OC</p>
            </div>
            <div class="add-btn">
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
            </div>
            <hr>
            <H2>CPU:</H2>
            <hr>
            <div class="component">
                <img class="cpu" src="../res/CPU 1.jpg" alt="">
                <img class="cpu" src="../res/CPU 2.jpg" alt="">
                <img class="cpu" src="../res/CPU 3.jpg" alt="">
                <img class="cpu" src="../res/CPU 4.jpg" alt="">
            </div>
            <div class="comp-desc">
                <p>Intel Core i3 9100F</p>
                <p>Intel Core i5-9600K</p>
                <p>Intel Core i7-9700K</p>
                <p>Intel Core i9-9900K</p>
            </div>
            <div class="add-btn">
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
            </div>
            <hr>
            <h2>RAM:</h2>
            <hr>
            <div class="component">
                <img class="ram" src="../res/Ram 1.jpg" alt="">
                <img class="ram" src="../res/RAM 2.jpg" alt="">
                <img class="ram" src="/res/RAM 3.jpg">
                <img class="ram" src="/res/RAM 4.jpg" alt="">
            </div>
            <div class="comp-desc">
                <p>DELTA RGB DDR4 RAM 2400MHZ</p>
                <p>CORSAIR Vengeance RGB DRAM<br>16GB DDR4 2666MHZ</p>
                <p>TridentZ RGB 32GB DDR4 2800 MHZ</p>
                <p>Corsair 64GB (8x8GB) 4000 MHZ</p>
            </div>
            <div class="add-btn">
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
                <button type="button" class="btn btn-outline-warning">Add to Cart</button>
            </div>

        </div>
    </main>
</body>

</html>